<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wyszukaj zadanie</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
    <h2>Opcje użytkownika</h2>
    <a href="/allUsers">Wszyscy użytkownicy</a><br>
    <a href="/addUserPage">Dodaj użytkownika</a><br>
    <a href="/searchUser">Wyszukaj użytkownika</a><br>
    <a href="/statusUser">Zmień status użytkownika</a><br>
    <a href="/deleteUser">Usuń użytkownika</a><br>
    <br><br>
    <h2>Opcje zadań</h2>
    <a href="/allTasks">Wszystkie zadania</a><br>
    <a href="/addTaskPage">Dodaj zadanie</a><br>
    <a href="/searchTask">Wyszukaj zadanie</a><br>
    <a href="/statusTask">Zmień status zadania</a><br>
    <a href="/deleteTask">Usuń zadanie</a>
</body>
</html>